<div class="darken"></div>
<main>
<div id="logo">
  <img src="../../assets/logo_les_etangs.png" alt="Logo restaurant Les Etangs Manom">
</div>

<div id="text">
<p>
<strong>Restaurant Les Etangs</strong>
</p>

<p>
<strong>RESERVATION</strong>
<br />
<a href="tel:+33382532692"> +33 (0)3 82 53 26 92</a>
</p>

<p>
<strong>BONS CADEAUX</strong>
<br />

<a style="background: #295b38;padding:5px 10px;border-radius:3px;display:inline-block;color: white;" href="https://aji-box.com/-/restaurant-les-etangs/">aji-box.com/-/restaurant-les-etangs</a>
</p>

<p>
  <strong>ADRESSE</strong><br>
  <a href="https://goo.gl/maps/gD41iBHTP9zF3TYVA">1 route de Garche, 57100 Manom France</a><br>
</p>

---
<p>Site en construction.</p>
<br />

</div>
</main>
